rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Permite que qualquer usuário autenticado leia e escreva em todas as coleções
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
